#title{
  background-color: #c6b3d0;
  padding-left: 45.55%;
  font-family: 'Comic Sans', 'Comic Sans MS', cursive;
  }
  
#contents_button{
  width: 100%;
  height: 50px;
  font-family: 'Comic Sans', 'Comic Sans MS', cursive;
}

body{
  background-color:#383838;
}