
body{
  background-color:#383838;
  margin: 0px;
}

#title{
  font-family: 'Comic Sans', 'Comic Sans MS', cursive;
  background-color:  #a17cb8;
  text-align: center;
  padding: 15px;
  letter-spacing: 75px;
  position: sticky;
  top: 0;
}

#home_button{
  font-family: 'Comic Sans', 'Comic Sans MS', cursive;
  width: 100px;
  height: 50px;
  border: none;
  color: #ecebe1;
  background-color: #c6b3d0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: left;
  transition-duration: 0.4s;
  outline: none;
}

#home_button:hover{
  width: 150px;
  background-color: #a17cb8;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

table {
  font-family: "Monaco", "Courier New", monospace;
  color: whitesmoke;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  }

  table, img{
    height: 50px;
    padding: 10px;
  }
  
  td, th {
    text-align: left;

  }

  .poopy{
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  #poo{
    
  }

  th {
    border-bottom: 1px solid #697cb6;
    padding-bottom: 10px;
    border-width: 4px; 
    font-size: larger;
  }


  tr:focus-within {
    background: #f2f3ff;
    outline: none;
  }
  
  #poop:hover{
    background-color: #694ea8;
    cursor: pointer;
    transition-duration: 0.2s;
  }

  #poop a{
    color: #f2f3ff;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    outline: none;
  }

  #poop{
    transition-duration: 0.4s;
  }

  .info{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color:#697cb6;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
  }

  #nav_bar{
    background-color: #c6b3d0;
    height: 50px;
    position: sticky;
    top: 117px;
  }

  #hometext{
    width: fit-content;
    height: 100%;
  }