
body{
  background-color:#383838;
  margin: 0px;
}

#title{
  font-family: 'Comic Sans', 'Comic Sans MS', cursive;
  background-color:  #a17cb8;
  text-align: center;
  padding: 15px;
  letter-spacing: 75px;
}

#home_button{
  font-family: 'Comic Sans', 'Comic Sans MS', cursive;
  width: 100px;
  height: 50px;
  border: none;
  color: #ecebe1;
  background-color: #c6b3d0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: left;
  
}

#home_button:hover{
  font-family: 'Comic Sans', 'Comic Sans MS', cursive;
  width: 100px;
  height: 50px;
  border: none;
  color: #ecebe1;
  background-color: #a17cb8;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

table {
  font-family: "Monaco", "Courier New", monospace;
    color: whitesmoke;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
  }

  table, img{
    height: 50px;
    padding: 10px;
  }
  
  td, th {
    text-align: left;

  }

  th {
    border-bottom: 1px solid #697cb6;
    padding-bottom: 10px;
    border-width: 4px; 
  }


  tr:focus-within {
    background: #f2f3ff;
    outline: none;
  }
  
  #poop:hover{
    background-color: #694ea8;
    cursor: pointer;
    
  }

  #poop a{
    color: #f2f3ff;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
  }

  #sortnamea_button{
  font-family: 'Comic Sans', 'Comic Sans MS', cursive;
  width: 100px;
  height: 35px;
  border-radius: 4px;
  background-color: #694ea8;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  }

  #sortnamea_button:hover{
    font-family: 'Comic Sans', 'Comic Sans MS', cursive;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;

    }

  #nav_bar{
    background-color: #c6b3d0;
    height: 50px;
  }

  #hometext{
    width: fit-content;
    height: 100%;
  }