<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <title>Contents</title>
</head>
<body>
    <div id = "title">
        <h1>
             POGGERS
        </h1>
    </div>
    <div id = "nav_bar">
        <div>
            <a href = "{{ url_for('home')}}">
                <button id = "home_button" type = "button" href = "home"> Home </button> 
            </a>
        </div>
        <div>
            <a href = "{{ url_for('contents')}}">
                <button id = "home_button" type = "button" href = "contents"> Oldest </button> 
            </a>
        </div>
        <div>
            <a href = "{{ url_for('pogfaces_recent')}}">
                <button id = "home_button" type = "button" href = "contents"> Newest </button> 
            </a>
        </div>
        <div>
            <a href = "{{ url_for('pogfaces_namea')}}">
                <button id = "home_button" type = "button" href = "contents"> A-Z </button> 
            </a>
        </div>
        <div>
            <a href = "{{ url_for('pogfaces_namez')}}">
                <button id = "home_button" type = "button" href = "contents"> Z-A </button> 
            </a>
        </div>
        <div>
            <a href = "{{ url_for('pogfaces_men')}}">
                <button id = "home_button" type = "button" href = "contents"> Male </button> 
            </a>
        </div>
        <div>
            <a href = "{{ url_for('pogfaces_women')}}">
                <button id = "home_button" type = "button" href = "contents"> Female </button> 
            </a>
        </div>         
        <div>
            <a href = "{{ url_for('pogfaces_nonbinary')}}">
                <button id = "home_button" type = "button" href = "contents"> Non-Binary </button> 
            </a>
        </div>  
    </div>
    </div>
    <br>
    <table>
        <tr>
            <th></th>
            <th>Pogfaces</th>
            <th>Gender</th>
            <th>Face Type</th>
            <th>Date In Use</th>
        </tr>
        {% for item in results %}
        <tr id="poop">
            <td><a href = "{{ url_for('pogfaces_nonbinary')}}" tabindex="-1"><img src="/static/images/{{item[4]}}" alt="image"></a></td>
            <td><a href = "{{ url_for('pogfaces_nonbinary')}}" tabindex="-1">{{ item[0]}}</a></td>
            <td><a href = "{{ url_for('pogfaces_nonbinary')}}" tabindex="-1">{{ item[1]}}</a></td>
            <td><a href = "{{ url_for('pogfaces_nonbinary')}}" tabindex="-1">{{ item[2]}}</a></td>
            <td id = "date"><a href = "{{ url_for('pogfaces_nonbinary')}}" tabindex="-1">{{ item[3]}}</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>
